-i https://pypi.org/simple
asgiref==3.9.1; python_version >= '3.9'
blinker==1.9.0; python_version >= '3.9'
certifi==2025.8.3; python_version >= '3.7'
channels==4.3.1; python_version >= '3.9'
charset-normalizer==3.4.3; python_version >= '3.7'
click==8.1.8; python_version >= '3.7'
dash==3.2.0; python_version >= '3.8'
dash-bootstrap-components==2.0.4; python_version >= '3.9'
dj-database-url==3.0.1
django==4.2.23; python_version >= '3.8'
django-plotly-dash==2.5.0; python_version >= '3.8'
dpd-components==0.2.0
flask==3.1.2; python_version >= '3.9'
gunicorn==23.0.0; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
importlib-metadata==8.7.0; python_version >= '3.9'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.6; python_version >= '3.7'
markupsafe==3.0.2; python_version >= '3.9'
narwhals==2.2.0; python_version >= '3.9'
nest-asyncio==1.6.0; python_version >= '3.5'
numpy==2.0.2; python_version >= '3.9'
packaging==25.0; python_version >= '3.8'
pandas==2.3.2; python_version >= '3.9'
plotly==6.3.0; python_version >= '3.8'
psycopg2-binary==2.9.10; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pytz==2025.2
requests==2.32.5; python_version >= '3.9'
retrying==1.4.2; python_version >= '3.6'
setuptools==80.9.0; python_version >= '3.9'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sqlparse==0.5.3; python_version >= '3.8'
typing-extensions==4.15.0; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
urllib3==2.5.0; python_version >= '3.9'
werkzeug==3.1.3; python_version >= '3.9'
whitenoise==6.9.0; python_version >= '3.9'
zipp==3.23.0; python_version >= '3.9'
