{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4 text-primary">Финансовые дашборды</h1>
    <p class="lead text-center mb-5">Аналитика ключевых показателей в стандартах корпоративной отчетности</p>

    <script src="https://cdn.plot.ly/plotly-2.24.1.min.js" charset="utf-8"></script>

    <div class="row">
        <!-- График 1 и 2 -->
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Динамика выручки и прибыли</h5>
                    {{ plot_div_trend }}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Структура операционных расходов</h5>
                    {{ plot_div_expenses }}
                </div>
            </div>
        </div>
        
        <!-- График 3 и 4 -->
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Выполнение плана по месяцам</h5>
                    {{ plot_div_plan_fact }}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Воронка продаж</h5>
                    {{ plot_div_funnel }}
                </div>
            </div>
        </div>
        
        <!-- График 5 и 6 -->
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Просроченная дебиторская задолженность</h5>
                    {{ plot_div_debt }}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Соотношение доходов и затрат</h5>
                    {{ plot_div_scatter }}
                </div>
            </div>
        </div>
        
        <!-- График 7 и 8 -->
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Движение товарных запасов</h5>
                    {{ plot_div_waterfall }}
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-primary">Конверсия по каналам продаж</h5>
                    {{ plot_div_hbar }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}